body {
  background: radial-gradient(circle at top,#0b0f14,#15803d);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
  padding: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}

.gameboard {
  width: 300px;
  height: 360px;
  background:#0b0f14;
  border-radius: 14px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;

  margin-bottom: 16px;
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.5);
}

.hud {
  margin-top: 20px;
  font-size: 0.9rem;
  opacity: 0.85;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cell {
  border-radius: 6px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.correct { background-color: green; color: white; }
.present { background-color: orange; color: white; }
.absent { background-color: gray; color: white; }

.submit-btn {
  background-color: #0b0f14;
  color: #15803d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}